<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onedaylog.project.dao.DiaryDAO">

	<!-- 일기 작성 (현재 날짜 기준으로 INSERT) -->
	<insert id="insertDiary" parameterType="com.onedaylog.project.dto.DiaryDTO">
	    INSERT INTO DIARY (DIARY_ID, USER_ID, DIARY_DATE, CONTENT)
	    VALUES (DIARY_SEQ.NEXTVAL, #{userId}, SYSDATE, #{content})
	</insert>

	<!-- 특정 사용자의 일기 리스트 조회 (최신순 정렬) -->
	<select id="getDiaryListByUserId" parameterType="int" resultType="DiaryDTO">
	    SELECT 
	        DIARY_ID AS diaryId,
	        USER_ID AS userId,
	        CONTENT AS content,
	        DIARY_DATE AS diaryDate  
	    FROM DIARY
	    WHERE USER_ID = #{userId}
	    ORDER BY DIARY_DATE DESC, DIARY_ID DESC
	</select>
	
	<!-- 날짜 빠른순,느린순 정렬 -->
	<select id="getDiaryListSorted" parameterType="map" resultType="DiaryDTO">
	    SELECT 
	        DIARY_ID AS diaryId,
	        USER_ID AS userId,
	        CONTENT AS content,
	        DIARY_DATE AS diaryDate  
	    FROM DIARY
	    WHERE USER_ID = #{userId}
	    ORDER BY DIARY_DATE 
	    <choose>
	        <when test="order == 'asc'">ASC</when>
	        <otherwise>DESC</otherwise>
	    </choose>
	</select>
	
	<!-- 특정 일기 삭제 -->
	<delete id="deleteDiary" parameterType="int">
		DELETE FROM DIARY WHERE DIARY_ID = #{diaryId}
	</delete>
	
	<!-- 일기 조회 (수정폼용) -->
	<select id="findById" parameterType="int" resultType="DiaryDTO">
		SELECT 
		    DIARY_ID AS diaryId,
		    USER_ID AS userId,
		    CONTENT AS content,
		    DIARY_DATE AS diaryDate
		FROM DIARY
		WHERE DIARY_ID = #{diaryId}
	</select>


	<!-- 일기 수정 처리 -->
	<update id="updateDiary" parameterType="DiaryDTO">
		UPDATE DIARY
		SET CONTENT = #{content},
		    DIARY_DATE = #{diaryDate, jdbcType=TIMESTAMP}
		WHERE DIARY_ID = #{diaryId}
	</update>

</mapper>
